/* SchoolStudent.css */

.chart-container {
  width: 100%;
  max-width: 1200px; 
  margin: 20px auto; 
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  padding: 20px; 
  text-align: left;
}
.year-selector-modern {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.year-button {
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 74, 119);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: none;
}

.year-button:hover {
  background-color: rgb(0, 104, 159);
  transform: scale(1.02);
}

.year-display {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.year-selector {
  display: flex;
  align-items: center;
}

.year-selector button {
  margin: 0 5px;
  padding: 5px 10px;
}

.year-selector input {
  width: 80px;
  text-align: center;
  padding: 5px;
}

.chart-shadow {
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navigation-buttons button {

  align-items: center;
  justify-content: center;
  background-color: rgb(0, 74, 119);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: none;
}

.navigation-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.navigation-buttons span {
  font-size: 16px;
}
