.individual-tour-page {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
}

.individual-tour-content {
    flex: 1;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px 40px 20px auto;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    max-width: 80%;
}

.p-datatable th,
.p-datatable td {
    padding: 10px; 
    text-align: center; 
}

.p-datatable {
    width: 100%; 
    margin: auto; 
    background-color: #ffffff;
}

.individual-tour-content h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333333; 
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.p-button-notes {
    background-color: rgb(0, 74, 119) !important;
    color: white !important;
    border: none !important;
}

.p-button-notes:hover {
    background-color: rgb(0, 104, 159) !important;
    transform: scale(1.02) !important;;
}

/* Wrapper for action buttons */
.action-buttons {
    display: flex; /* Align buttons side by side */
    gap: 8px; /* Add space between buttons */
    justify-content: center; /* Center align buttons */
    align-items: center; /* Vertical alignment */
}

/* Approve Button */
.p-button-approve {
    background-color: #26a544 !important; /* Green */
    color: white !important;
    border: none !important;
    padding: 6px 10px !important; /* Smaller padding */
    font-size: 0.9rem !important; /* Smaller font size */
    border-radius: 5px !important; /* Slightly rounded corners */
}

.p-button-approve:hover {
    background-color: rgb(34, 148, 85) !important;
    transform: scale(1.02) !important;;
}

/* Reject Button */
.p-button-reject {
    background-color:  rgb(220, 53, 69) !important; /* Red */
    color: white !important;
    border: none !important;
    padding: 6px 10px !important; /* Smaller padding */
    font-size: 0.9rem !important; /* Smaller font size */
    border-radius: 5px !important; /* Slightly rounded corners */
}

.p-button-reject:hover {
    background-color: rgb(200, 35, 51) !important;
    transform: scale(1.02) !important;;
}


@media (max-width: 768px) {
    .individual-tour-content {
        width: 95%; 
        padding: 15px; 
    }

    .p-datatable th,
    .p-datatable td {
        font-size: 0.9rem; 
    }
}
