.advisor-page-container {
    padding: 10px 20px;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-left: 260px;
}

/* Title */
.advisor-page-title {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

.advisor-day-column {
    display: flex;
    flex-direction: column;
}

/* Button Styling */
.advisor-button {
    margin: 5px 0;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.advisor-button:hover {
    color: #0056b3;
}

/* Advisor Card Styling */
.advisor-details-section {
    margin-top: 20px;
}

.advisor-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.advisor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Title */
.advisor-page-title {
    text-align: center;
    font-size: 2rem;
    color: black; /* Change from green to black */
    margin-bottom: 30px;
}


/* List Styling */
.advisor-guides-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.advisor-guide-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.advisor-guide-item:last-child {
    border-bottom: none;
}
