/* Forgot Password page */

.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the container takes the full viewport height */
}

.forgot-password-form {
    width: 70%;
    padding: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .success-message {
    color: green;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  
  .back-to-login {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  