/* Container to split the screen */
.container {
  display: flex;
  height: 85vh;
  width: 85vw;
  border-radius: 16px; /* Rounded corners for the entire container */
  overflow: hidden; /* Clip content to fit within rounded corners */
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  margin: 0 auto; /* Center the container */
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side {
  width: 40%;
  padding: 60px;
  background-color: white;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bilkent-logo {
  width: 200px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px; /* Space between the logo and the heading */
}

.login-page {
  width: 100%;
  text-align: center;
}

.forgot-password {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1.2rem;
}

.forgot-password:hover {
  text-decoration: underline;
}

.right-side {
  width: 60%;
  overflow: hidden;
}

.library-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.otp-toggle {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.otp-toggle input[type="checkbox"] {
  cursor: pointer;
}

.otp-toggle label {
  cursor: pointer;
  font-size: 14px;
}
