/* Container to center the reset password form */
.forgot-password-container,
.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background-color: #f5f5f5; /* Optional: Add a light background color */
}

/* Reset Password Form Styling */
.reset-password-form {
  width: 70%;
  max-width: 500px; /* Optional: Limit the maximum width */
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading */
.reset-password-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Password Requirements */
.password-requirements {
  font-size: 14px;
  color: #666;
  text-align: left;
  margin-bottom: 15px;
}

.password-requirements ul {
  padding-left: 20px;
  margin-top: 10px;
}

.password-requirements li {
  margin-bottom: 5px;
}

/* Input Fields */
.reset-password-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.reset-password-form input:focus {
  border-color: #14239a;
  outline: none;
}

/* Password Match Error */
.password-match-error {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 15px;
}

/* Success and Error Messages */
.success-message {
  color: green;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

/* Submit Button */
.reset-password-form button {
  width: 100%;
  padding: 12px;
  background-color: #14239a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.reset-password-form button:hover {
  background-color: #0056b3;
}

/* Back to Login Link */
.back-to-login {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-to-login:hover {
  text-decoration: underline;
}

.realtime-status__button--disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
