body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-form {
  width: 70%;
  padding: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  margin-bottom: 20px;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #14239a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.back-to-login {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-to-login:hover {
  text-decoration: underline;
}

.password-requirements {
  font-size: 14px;
  color: #666;
  text-align: left;
  margin-bottom: 15px;
}

.password-match-error {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 15px;
}
